<li class="event-schedule-item">
  <h2 class="speech-time"><%= talk.time %></h2>

  <% if (talk.imagePath) { %>
  <img class="speaker-photo" src="<%= talk.imagePath %>" alt="<%= talk.speakers[0].name %> photo" >
  <% } else { %>
    <% talk.speakers.forEach(function (speaker) { %>
      <img class="speaker-photo" src="images/speakers/<%= speaker.photo %>" alt="<%= speaker.name %> photo" >
    <% }); %>
  <% } %>

  <h3><%= talk.title %></h3>

  <p class="speaker-name"><%= talk.speakers.map(speaker => speaker.name).join(', ') %>
    <% if (talk.speakerCity) { %>
    | <%= talk.speakerCity %>
    <% } %>
  </p>
  <p><%- talk.description %></p>
</li>
<% if (talk.break) { %>
  <li class="event-schedule-item">
    <h2 class="speech-time"><%= talk.break.time %></h2>
    <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break</h3>
  </li>
<% } %>
<% if (talk.shortbreak) { %>
<li class="event-schedule-item">
  <h2 class="speech-time"><%= talk.shortbreak.time %></h2>
  <h3>Short break</h3>
</li>
<% } %>
<% if (talk.party) { %>
<li class="event-schedule-item">
  <h2 class="speech-time"><%= talk.party.time %></h2>
  <img class="speaker-photo" src="images/bottles.jpg" alt="beer jug image">
  <h3><%= talk.party.title %></h3>
  <p><%- talk.party.description %></p>
</li>
<% } %>
<% if (talk.pizza) { %>
<li class="event-schedule-item">
  <h2 class="speech-time"><%= talk.pizza.time %></h2>
  <img class="speaker-photo" src="images/icon-pizza.jpg" alt="pizza icon">
  <h3> Pizza & Networking</h3>
</li>
<% } %>
