<li>
  <img class="speaker-photo" src="<%= talk.imagePath %>"/>
  <p class="time"><%= talk.time %></p>
  <h3><%= talk.title %></h3>
  <p class="speaker-name"><%= talk.speakers.map(speaker => speaker.name).join(', ') %></p>
  <p><%- talk.description %>
  </p>
</li>
<% if (talk.break) { %>
  <li class="break">
    <p class="time"><%= talk.break.time %></p>
    <h3><span class="icon-coffee">&nbsp;</span> Кофе пауза</h3>
  </li>
<% } %>
<% if (talk.party) { %>
<li>
  <img class="speaker-photo" src="images/bottles.jpg"/>
  <p class="time"><%= talk.party.time %></p>
  <h3><%= talk.party.title %></h3>
  <p><%- talk.party.description %>
  </p>
</li>
<% } %>
