<!doctype html>
<html lang="en" class="no-js">
<head>
  <%- include('./common/styles') %>
  <title>RS Conf 2018 | Conference Guide</title>
</head>
<body>
<div class="page-wrap page-code-of-conduct">
  <%- include('./common/browsehappy') %>
  <%- include('./common/menu') %>

  <section>
    <div class="content-md text-left">
      <p class="text-lg">Conference Guide</p>
      <p>You’re registered to join <a href="https://2018.conf.rollingscopes.com/">The Rolling Scopes
          Conference 2018.</a>
        Here are some details to help you prepare for the event.</p>
      <p class="text-lg">Date</p>
      <p>February 10-11, 9:00 - 18:30</p>
      <p class="text-lg">Location</h2>
      <p><a
          href="https://www.google.pl/maps/place/Dvorets+Kul'tury+Profsoyuzov/@53.90219,27.5610915,16z/data=!4m5!3m4!1s0x0:0xcffbbd5fecbc0dc2!8m2!3d53.9031999!4d27.5629957?hl=en">Palac
          kuĺtury prafsajuzaŭ, Praspiekt Niezaliežnasci 25, Minsk</a></p>
      <p class="text-lg">Parking</p>
      <p>There is no parking near the Venue. If you are planning to come by car to the event please use the nearest <a
          href="http://www.palace.by/en/services/parking/">chargeable parking</a>.</p>
      <p class="text-lg">Wi-Fi</p>
      <p>Unfortunately, <strong>no WiFi connection</strong> will be available at conference venue.
        Please, use mobile networks instead. Read more: <a href="http://prepaid-data-sim-card.wikia.com/wiki/Belarus">http://prepaid-data-sim-card.wikia.com/wiki/Belarus</a>
      </p>
      <p class="text-lg">Registration</p>
      <p>There will be separate for «Ticket+SWAG» and «Free Ticket».</p>
      <p>Ticket+SWAG: please take any ID document (passport/driving license/student ID/etc.)</p>
      <p>Free Ticket: if you've forwarded your registration to your mate, please make sure this person knows whom he
        will replace. The entrance to the conference will be strictly according to the registration list.</p>
      <p class="text-lg">Draw your own badge</p>
      <p><img class="badge-spec" src="images/participants.gif" alt="badge spec"></p>
      <p class="text-lg">Partner booths</p>
      <p>The Conference is supported by <a href="https://2018.conf.rollingscopes.com/partners.html" rel="nofollow">partner
          companies.</a> You are invited to take part in games and coding quests.
        Don't forget to take your laptop.</p>
      <p class="text-lg">Lunch and coffee breaks</p>
      <p>For coffee breaks we will provide with drinks and snacks.
        For the lunch (1.30 – 3 p.m) you may visit any nearest café – <a
          href="https://www.google.com/maps/d/u/0/embed?mid=1AbU8-yXK90eT3S2LDYKrevtlrSD6rlQ3&amp;ll=53.909114154613135%2C27.57097054999997&amp;z=14"
          rel="nofollow">map</a>.</p>
      <p class="text-lg">Schedule</p>
      <p>Schedule for both days is available on the <a
          href="https://2018.conf.rollingscopes.com/schedule.html">website</a>.
        Take a look at two tracks and choose the most attractive content for you!</p>
      <p class="text-lg">Cultural bonus</p>
      <p>To view the main Belarus attractions in miniatures please visit the <a
          href="http://belarusmini.by/en/exposure/">Museum "Strana mini"</a> in the venue.</p>
      <p class="text-lg">Some important remark</p>
      <p>WC in the venue is available on the ground floor.</p>
      <p class="text-lg">We look forward to seeing you soon!</p>
      <p>Follow us to get event updates and exciting announcements: <a
          href="https://www.facebook.com/groups/TheRollingScopes/" rel="nofollow">Facebook</a>, <a
          href="https://twitter.com/rollingscopes" rel="nofollow">Twitter</a>, <a
          href="http://frontendbelarus.herokuapp.com/" rel="nofollow">Slack channel #rsconf</a>.</p>
    </div>
  </section>
  <section>
    <div class="content-md">
      <h2>Follow us</h2>
      <p class="text-lg">Follow us on <a target="_blank"
                                         href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a> and <a
          target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>
        to be the first to learn the news</p>

      <p class="content-sm">Our hashtag on social media is <a
          href="https://twitter.com/hashtag/rollingscopes?vertical=default&src=hash">#rollingscopes</a>.
        Or contact us directly on our email <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

      <p class="text-lg padding-top-lg">Join our Slack channel <a target="_blank"
                                                                  href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>.
      </p>
      <p class="content-sm">If you don't have access to frontendbelarus.slack.com, please, register <a target="_blank"
                                                                                                       href="http://frontendbelarus.herokuapp.com/">here</a>.
      </p>

      <ul class="social-links">
        <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
              class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                       aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </section>

</div>
<%- include('./common/footer') %>
<%- include('./common/scripts') %>
</body>
</html>
