<!doctype html>
<html lang="en" class="no-js">
<head>
  <%- include('./common/styles') %>
  <title>RS Conf 2018 | Partners</title>
</head>
<body>
<div class="page-wrap page-partners">
  <%- include('./common/browsehappy') %>
  <%- include('./common/menu') %>
  <section>
    <div class="content-lg">

      <h2 class="text-lg margin-bottom-lg">Partners</h2>

      <ul class="partner-list starred-list">
        <li>
          <a class="partner-diamond" target="_blank" href="http://www.epam.by/">
            <img src="images/partners/logo-epam.svg" alt="epam logo"/>
          </a>
        </li>
        <li>
          <a class="partner-gold" target="_blank" href="https://emerline.com/">
            <img src="images/partners/logo-emerline.svg" alt="emerline logo"/>
          </a>
        </li>
        <li>
          <a class="partner-gold" target="_blank" href="https://www.evolutiongaming.com/">
            <img src="images/partners/logo-evolution-gaming.svg" alt="evolution gaming logo"/>
          </a>
        </li>
        <li>
          <a class="partner-silver" target="_blank" href="https://www.oxagile.com/">
            <img src="images/partners/logo-oxagile.png" alt="oxagile logo"/></a>
        </li>
        <li>
          <a class="partner-silver shift-left" target="_blank" href="http://hqsoftwarelab.by/">
            <img src="images/partners/logo-hqsoftware.png" alt="hqsoftwarelab logo"/></a>
        </li>
        <li>
          <a class="partner-silver" target="_blank" href="http://www.apalon.com/">
            <img src="images/partners/logo-apalon.png" alt="apalon logo"/></a>
        </li>
        <li>
          <a class="partner-bronze shift-left" target="_blank" href="https://www.facebook.com/nikofirm/">
            <img src="images/partners/logo-nikofirm.png" alt="Niko Firm logo"/></a>
        </li>
      </ul>

      <h2>Travel Sponsors</h2>
      <ul class="partner-list">
        <li>
          <a href="http://mozilla.org">
            <img src="images/partners/logo-mozilla.svg" alt="mozilla logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.microsoft.com/">
            <img src="images/partners/logo-microsoft.svg" alt="microsoft logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.yandex.com/">
            <img src="images/partners/logo-yandex.svg" alt="yandex logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.egnyte.com/">
            <img src="images/partners/logo-egnyte.svg" alt="egnyte logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="http://mad.maniak.pro">
            <img src="images/partners/logo-madmaniak.svg" alt="madmaniak logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.keepsolid.com/">
            <img src="images/partners/logo-keepsolid.svg" alt="keep solid logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.toptal.com/">
            <img src="images/partners/logo-toptal.png" alt="toptal logo"/>
          </a>
        </li>
      </ul>

      <h2>Organizers</h2>
      <ul class="partner-list">
        <li>
          <a target="_blank" href="http://www.rollingscopes.com/">
            <img src="images/partners/logo-rs.svg" alt="rollingscopes logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="http://imaguru.co">
            <img src="images/partners/logo-imaguru.svg" alt="imaguru logo"/></a>
        </li>
      </ul>

      <h2>Information partners</h2>
      <ul class="partner-list">
        <li>
          <a target="_blank" href="https://dev.by/">
            <img src="images/partners/logo-devby.png" alt="dev by logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.onliner.by/">
            <img src="images/partners/logo-onliner.png" alt="onliner logo"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="content-md">
      <p class="text-lg">We would be happy to discuss any kind
        of partnership and gladly accept any help.</p>

      <p class="content-sm">Please contact us about information and media partnership by writing an email to <a
          href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>
    </div>
  </section>

  <section>
    <div class="content-md">
      <h2>Follow us</h2>
      <p class="text-lg">Follow us on <a target="_blank"
                                         href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a> and <a
          target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>
        to be the first to learn the news</p>

      <p class="content-sm">Our hashtag on social media is <a
          href="https://twitter.com/hashtag/rollingscopes?vertical=default&src=hash">#rollingscopes</a>.
        Or contact us directly on our email <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

      <p class="text-lg padding-top-lg">Join our Slack channel <a target="_blank"
                                                                  href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>.
      </p>
      <p class="content-sm">If you don't have access to frontendbelarus.slack.com, please, register <a target="_blank"
                                                                                                       href="http://frontendbelarus.herokuapp.com/">here</a>.
      </p>

      <ul class="social-links">
        <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
              class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                       aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </section>

</div>
<%- include('./common/footer') %>
<%- include('./common/scripts') %>

</body>
</html>
