doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Front-end Course
    link(rel='shortcut icon', href='favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(media='all', type='text/css', rel='stylesheet', href='css/main.css')
    link(media='all', type='text/css', rel='stylesheet', href='css/media-queries.css')
    base(target='_blank')
  body
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    header
      .header-wrap
        ul.header-links
          li.header-link-item
            a(href='https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum') Course plan
          li.header-link-item
            a(href='./archive.html') Archive
          li.header-link-item
            a(href='https://docs.google.com/forms/d/1F4NeS0oBq-CY805aqiPVp6CIrl4_nIYJ7Z_vUcMOFrQ/viewform') Feedback
          li.header-link-item
            a(href='https://docs.google.com/spreadsheet/ccc?key=0AnUA7wlxcI_-dFphZEFyUHFPZlJDS2hLbVJIc0VYREE&usp=drive_web#gid=0') Score
          li.header-link-item
            a(href='skype:?chat&blob=Zd_eInTRYsRxnM_N9Kxn7J75dEpcSK-nDMHV69saolq4MzBGDt9CgzOGq3b4SVdo1jlxI1mgIh_mAwZ5')
              i.fa.fa-skype
                | Skype

    h1.course-title
      | Front-end course

    section
        h2 Что надо знать до начала курса
        p
          Основы программирования на уровне: <a href="https://www.udacity.com/course/cs101">https://www.udacity.com/course/cs101</a> <br />
          Алгоритмы и структуры данных на уровне: <a href="https://www.coursera.org/course/algs4partI">https://www.coursera.org/course/algs4partI</a>

    section
      a(href="https://www.youtube.com/playlist?list=PLbZju76qr6FH77EtbZFLHZRb7IY7Ve6Uu")
        | Front-end course podcast

    section
      h2 Tasks
      ul.tasks
        each task in tasks
          li
            if task.md
              a(href='./tasks.html##{task.md}')
                | #{task.title}
            else
              a(href='#{task.link}')
                | #{task.title}

    section
      h2 Talks
      each talk, index in talks.reverse()
        article
          h3.talk-title
            | #{talks.length - index}. #{talk.title}
            a.btn-feedback(href='#{talk.feedback_url}')
              |Feedback
          ul.talks
            each speaker in talk.speakers
              li.talk-item
                span.talk-speaker #{speaker.name}
                each slideshow in speaker.slides
                  if slideshow.href && slideshow.href !== '#'
                    a.talk-item-link(href='#{slideshow.href}')
                      | #{slideshow.title}
                  else
                    span.talk-item-link
                      | #{slideshow.title}
          if talk.links && talk.links.length
            h4.text-right Useful links
            ul.links
              each link in talk.links
                li
                  a(href='#{link.href}') #{link.title}
