<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title><%= page.title %></title>
    <%- include('./common/styles') %>
</head>
<body>
<%- include('./common/browsehappy') %>
<%- include('./common/header') %>
<section>
    <h1 class="event-title">The Rolling Scopes</h1>

    <p>This is not just another community of developers, this is something more.</p>

    <p>For years we have been organizing meetups and conferences, where you can always learn something new, share
        your knowledge, discover new technologies, meet old and find new friends.</p>

    <p>Web-related technologies stack is so broad that it is impossible to enumerate all the topics that have been
        covered at our events: JavaScript, HTML, CSS, Node, UX, UI, Testing, VR, React ...</p>

    <p>Each time our events take place in a different city, so that makes it hard to say where the next one will
        take place.</p>

    <p> We are happy to collaborate and welcome all kinds of talk proposals. Have any suggestions or feedback? Want
        to give a talk or conduct a workshop?
        Contact us on <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

</section>

<section>
    <h2 class="text-center">Upcoming Events</h2>
    <ul class="event-list">

        <!--    <li class="event-list-item"><h2 class="date">31</h2>-->
        <!--      <p class="mounth">MAY</p>-->
        <!--      <h2>EVERYWHERE: <a target="_blank"-->
        <!--                         href="https://www.facebook.com/jsdevday/">JavaScript Developer Day</a></h2>-->
        <!--      <p>Let's celebrate #jsdevday in your location!-->
        <!--      </p>-->
        <!--    </li>-->


        <li class="event-list-item"><h2 class="date">26</h2>
            <p class="mounth">NOV</p>
            <h2>Meetup: <a href="https://krakow.rollingscopes.com/">The Rolling Scopes. Angular (EN)</a></h2>
            <p><i class="fas fa-map-marker-alt"></i> Online Streaming </p>
            </p>
        </li>

        <li class="event-list-item"><h2 class="date">18</h2>
            <p class="mounth">JAN</p>
            <h2>Webinar: <a target="_blank"
                            href="https://community-z.com/events/machine-learning-rsschool-2021">Machine Learning
                    Course. Intro
                    · RS
                    School (RU)</a></h2>
            <p><i class="fas fa-map-marker-alt"></i> Online Streaming </p>
        </li>

        <li class="event-list-item"><h2 class="date">19</h2>
            <p class="mounth">JAN</p>
            <h2>Webinar: <a target="_blank"
                            href="https://community-z.com/events/angular-rsschool-2021q1">Angular Course. Intro
                    · RS
                    School (RU)</a></h2>
            <p><i class="fas fa-map-marker-alt"></i> Online Streaming </p>
        </li>

        <li class="event-list-item"><h2 class="date">20</h2>
            <p class="mounth">JAN</p>
            <h2>Webinar: <a target="_blank"
                            href="https://community-z.com/events/react-rsschool-2021">React Course. Intro
                    · RS
                    School (RU)</a></h2>
            <p><i class="fas fa-map-marker-alt"></i> Online Streaming </p>
        </li>

        <li class="event-list-item"><h2 class="date">28</h2>
            <p class="mounth">FEB</p>
            <h2>Webinar: <a target="_blank"
                            href="https://community-z.com/events/js-intro-rss-2021q1">JavaScript/Front-end Course. Intro
                    · RS
                    School (RU)</a></h2>
            <p><i class="fas fa-map-marker-alt"></i> Online Streaming </p>
        </li>

        <li class="event-list-item"><h2 class="date">19</h2>
            <p class="mounth">APR</p>
            <h2>Webinar: <a target="_blank"
                            href="https://community-z.com/events/android-rsschool-2021">Android Course. Intro
                    · RS
                    School (RU)</a></h2>
            <p><i class="fas fa-map-marker-alt"></i> Online Streaming </p>
        </li>

        <li class="event-list-item"><h2 class="date">19</h2>
            <p class="mounth">APR</p>
            <h2>Webinar: <a target="_blank"
                            href="https://community-z.com/events/ios-rsschool-2021">iOS Course. Intro
                    · RS
                    School (RU)</a></h2>
            <p><i class="fas fa-map-marker-alt"></i> Online Streaming </p>
        </li>
    </ul>
</section>
<section>
    <div class="info-accented">
        <h2><a target="_blank" href="https://rs.school/">RS School</a> Mentors Wanted!</h2>
        <blockquote>"Teaching is a privilege. It's part of a Jedi's responsibility to help train the next generation."
            <p>―Obi-Wan Kenobi, Star Wars: The Clone Wars</p>
        </blockquote>

        <p><a target="_blank" class="enrollment-btn"
              href="https://app.rs.school/registry/mentor">See
                more</a></p>
    </div>
</section>

<%- include('./common/main-nav') %>

<section>
    <h2 class="text-center">Our Partners</h2>
    <ul class="partner-list">
        <li>
            <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
        </li>
        <li>
            <a href="https://imaguru.by/en/"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
        </li>
        <li>
            <a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
        </li>
        <li>
            <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
        </li>
    </ul>
</section>
<%- include('./common/call-for-speakers') %>
<%- include('./common/footer') %>
<%- include('./common/scripts') %>
</body>
</html>
