<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <%- include('./common/styles') %>
</head>
<body>
<%- include('./common/browsehappy') %>
<div class="page-wrap">
  <%- include('./common/header') %>
  <section>
      <h1 class="text-left">Приветствуем!</h1>
      <h2>Заполните, пожалуйста, форму</h2>

      <form class="signup-form" action="/register" method="POST">
          <p><label for="name">Имя Фамилия</label>
          <input id="name" required type="text" name="name"/></p>
          <p><label for="email">Email</label>
          <input id="email" required type="email" name="email"/></p>
          <p><input type="submit" value="Готово!"/></p>
      </form>
  </section>
</div>
<%- include('./common/main-nav') %>
<%- include('./common/footer') %>
<%- include('./common/scripts') %>
</body>
</html>
